* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}


/* typography */

h1 {
  font-family: "code-saver", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  font-size: 3.75rem;
  line-height: 3.3rem;
}

p {
  font-family: "code-saver", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 1.5rem;
}

a {
  font-family: "code-saver", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 1.5rem;
}

.button {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "code-saver", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: black;
  color: #fff;
}

@ media (min-width: 1000px) {
  .button {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

.button-2 {
  background-color: black;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "code-saver", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-2:hover {
  background-color: blue;
  color: black;
}

@ media (min-width: 1000px) {
  .button-2 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

.button-3 {
  background-color: blue;
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
  color: black;
  display: inline-block;
  font-family: "code-saver", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
}

#picture {
  height: 3.5rem;
  width: 3.5rem;
  background-image: url(../images/PORTRAIT.jpg);
  background-size: cover;
  background-position: center;
  height: 3.5rem;
  border-radius: 50%;
}


/* header */

#logo {
  margin: 0 1rem 1rem 0;
}

#eye-up {
  width: 300px;
  height: 150px;
  background-image: url(../images/FFWG_EYES_UP.svg);
}

#eye-down {
  width: 300px;
  height: 150px;
  background-image: url(../images/FFWG_EYES_DOWN.svg);
}

#eye-up .pupil {
  width: 70px;
  height: 70px;
  border-radius: 100%;

  position: relative;
  top: 57px;
  left: 116px;

  background-color: black;
}

#eye-down .pupil {
  width: 70px;
  height: 70px;
  border-radius: 100%;

  position: relative;
  top: 23px;
  left: 116px;

  background-color: black;
}


@media only screen and (max-width: 1000px) {

  header {
    width: 100%;
    height: 100vh;
    padding: 1rem 5rem;

    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    background-color: blue;
  }

  .top-box {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;

    display: grid;
    justify-content: center;
  }

  #title-box {
    width: 300px;
  }

}


@media only screen and (min-width: 1001px) {

  header {
    width: 100%;
    height: 100vh;
    padding: 2rem 5rem;

    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    background-color: blue;
  }

  .top-box {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;

    display: flex;
    justify-content: center;
  }

  #title-box {
    width: 300px;
    m argin: 1rem;

    display: flex;
    align-items: center;
  }

}









/* main content */


@media only screen and (max-width: 1000px) {

  #main {
    width: 100%;
    height: auto;
    padding: 2rem 2rem 1rem;
  }

  #bio {
    width: 100%;
    height: auto;
  }

  #bio p {
    margin-bottom: 2.5rem;
  }

  #socials {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  #socials button {
    margin: 0 0.3rem 0.3rem 0;
  }


  #blog {
    width: 100%;
    height: auto;
  }

  .blog-entry {
    display: flex;
    flex-direction: column-reverse;

    width: 100%;
    height: auto;

    padding: 1.5rem;
    margin-top: 1rem;
    border: 2px solid black;
  }

  .blog-entry-txt {
    width: 100%;
    height: auto;

    padding: 1.5rem;
    margin-top: 1rem;
    border: 2px solid black;
  }

  .blog-text {
    padding-top: 0.5rem;
  }

  .blog-img img {
    width: 100%;
    height: auto;
  }

  .description {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .description a {
    font-size: 1rem;
    margin-top: 1rem;
  }
}


@media only screen and (min-width: 1001px) {

  #main {
    width: 100%;
    height: auto;
    padding: 2rem 5% 1rem;

    display: flex;
    justify-content: center;
  }

  #bio {
    width: 30%;
    height: auto;
  }

  #bio p {
    margin-bottom: 2.5rem;
  }

  #socials {
    display: flex;
    flex-wrap: wrap;
  }

  #socials button {
    margin: 0 0.3rem 0.3rem 0;
  }

  #blog {
    width: 50%;
    height: fit-content;
    margin-left: 2rem;
    padding-left: 2rem;
  }

  .blog-entry {
    width: 100%;
    border: 2px solid black;
    margin-top: 1rem;

    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .blog-entry-txt {
    width: 100%;
    height: auto;
    border: 2px solid black;
    margin-top: 1rem;
  }

  .blog-text {
    padding: 1.5rem;
  }

  .blog-img {
    padding: 2rem 1.5rem 1.5rem 0;
  }

  .blog-img img {
    width: 100%;
  }

  .description {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .description a {
    font-size: 1rem;
    margin-top: 1rem;
  }

}

/* footer */

footer {
  width: 100%;
  padding: 0 2rem 1rem;
}

@media only screen and (max-width: 1000px) {

  footer p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1001px) {

  footer p {
    font-size: 0.7rem;
    padding-top: 1rem;
  }
}